.dash-tooltip {
    position: fixed !important;
    z-index: 1000 !important;
}

#papers {
  table-layout: fixed;
}

#papers tbody tr td:nth-child(1) {
  width: 8%;
}

#papers tbody tr td:nth-child(2) {
  width: 35%;
}

#papers tbody tr td:nth-child(3) {
  width: 12%;
}

#papers tbody tr td:nth-child(4) {
  width: 45%;
}

#refs {
  table-layout: fixed;
}

#papers td:nth-child(1) {
  width: 10%;
}

#papers td:nth-child(2) {
  width: 25%;
}

#papers td:nth-child(3) {
  width: 65%;
}

.div1 {
    display: inline-block;
    margin-left: 10px;
}

.div2 {
    display: inline-block;
    margin-left: 10px;
}

.div3{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.div-paper-label-content{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.Select-input{
    height: 20;
    line-height: 1;
}

.Select-control{
    height: 20;
    line-height: 20;
}

.Select-placeholder{
    height: 20;
    line-height: 1;
    vertical-align: middle;
}

.div-flex-left{
    display: flex;
    justify-content: flex_start;
    vertical-align: middle;
    align-items: center;
}

.div-flex-left-top{
    display: flex;
    justify-content: flex_start;
    vertical-align: middle;
    align-items: top;
}

.div-flex-center{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.div-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3; /* 这里3表示最多显示3行 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-border {
    border: 1px solid;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
